<div class="row m-0">
    <div class="col-12 mt-4">
        <div class="right-content">
            <h2 class="mb-2 home-head">Challenges
                <div (click)="onAddClick()" class="challenge add ms-auto me-5">
                    <i class="material-icons-outlined me-2">
                        add_circle_outline
                    </i>
                    Add challenge
                </div>
                <div class="sort-wrap me-4">
                    <span>Sort by</span>
                    <button  (click)="onSortClick('created_at')" [class.active]="data.sort.created_at" class="btn btn-light ms-3 me-2">Created date
                        <i *ngIf="data.sort.created_at"  class="material-icons-outlined">{{data.sort.created_at === 'desc' ? 'arrow_upward':'arrow_downward'}}</i>
                    </button>
                    <button (click)="onSortClick('up_vote')" [class.active]="data.sort.up_vote" class="btn btn-light me-3">
                        Upvote
                        <i *ngIf="data.sort.up_vote" class="material-icons-outlined">
                            {{data.sort.up_vote === 'desc' ? 'arrow_upward':'arrow_downward'}}
                        </i>
                    </button>
                </div>
            </h2>
            <div class="row">
                <div style="color: #757575;" class="col-12 mt-5 d-flex align-items-center justify-content-center" *ngIf="!data.challenges?.length && !data.getLoader">
                    No challenges available
                </div>
                <div class="col-sm-4 col-md-3 mt-3" *ngFor="let item of data.challenges">
                    <div class="challenge">
                        <p class="title"> {{item.title}}</p>
                        <p class="desc">{{item.description}}</p>
                        <div class="tags">
                            <span class="active me-2" *ngFor="let tag of item.tags">{{tag}}</span>
                        </div>
                        <div class="actions">
                            <small class="me-auto">{{item.created_at | date:'medium'}}</small>
                            {{item.likes}}
                            <i [class.active]="isLiked(item)" (click)="onLikeclick(item)"
                                class="material-icons-outlined">
                                recommend
                            </i>

                            <i (click)="deleteChallenge(item)" class="material-icons-outlined">delete</i>
                            <!-- <i class="material-icons-outlined">
                                edit
                            </i> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div  *ngIf="data.getLoader" class="col mt-5 d-flex align-items-center justify-content-center flex-column">
                    <div class="spinner-grow chal-loader mt-5" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="model-container" *ngIf="data.isModelOpen">
    <i class="material-icons-outlined close-icon" (click)="data.isModelOpen = false;resetTags()">close</i>
    <div class="add-model">
        <h5 class="mb-4">Add a challenge</h5>
        <div class="ch-form">
            <form [formGroup]="form" (ngSubmit)="createChallenge()">
                <div class="form-group mb-3">
                    <input [class.is-invalid]="form.controls.title.invalid && form.controls.title.touched"
                        formControlName="title" type="text" class="form-control" placeholder="Title">
                </div>
                <div class="form-group mb-2">
                    <input formControlName="description"
                        [class.is-invalid]="form.controls.description.invalid && form.controls.description.touched"
                        type="text" class="form-control" placeholder="Description">
                </div>
                <div class="form-group tags mb-3 mt-3">
                    <p class="mb-2">Select tags <small>(Select atleast 1 tag)</small></p>
                    <div class="tags-list">
                        <span (click)="tag.isActive = !tag.isActive" [class.active]="tag.isActive"
                            *ngFor="let tag of tags">
                            <i class="material-icons-outlined">
                                {{tag.isActive ? "check_box":"check_box_outline_blank"}}
                            </i>
                            {{tag.value}}</span>
                    </div>

                </div>
                <div class="d-flex justify-content-end  mt-4">
                    <button [disabled]="form.invalid || !isTagSelected || data.postLoader" class="btn btn-primary">
                        <span *ngIf="data.postLoader" class="spinner-border spinner-border-sm me-2" role="status"
                            aria-hidden="true"></span>
                        Add</button>
                    <button class="btn btn-light ms-2" (click)="data.isModelOpen = false;resetTags()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>