.login-box {
  background-color: white;
  padding: 20px 40px;
  border-radius: 8px;
  min-width: 340px;
  h2 {
    font-weight: 600;
    color: #212121;
  }
  p {
    color: #717171;
    font-size: 0.8rem;
  }
  button {
    width: 100%;
  }
}
