/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

$primary-blue: #1243f0;
$dark-text: #212121;
$light-text: #717171;

body {
  font-family: "Poppins", sans-serif !important;
}

.bg-grey {
  background-color: #f5f8fa;
}

.main-wrapper {
  height: 100vh;
}

.btn-primary {
  background-color: $primary-blue;
  font-weight: 500;
  font-size: 0.9rem;
  &:focus {
    box-shadow: none;
    border-color: $primary-blue;
  }
}

.btn {
  height: 43px;
  font-size: 0.8rem;
}

.form-control {
  font-size: 0.8rem;
  height: 43px;
  &:focus {
    box-shadow: none;
    border-color: $primary-blue;
  }
}
